html, body, input, textarea, select, button {
    margin: 0;
    padding: 0;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
}

/* body {
    font-family: Arial, sans-serif;
} */

body {
    margin: 0;
    height: 100vh;
    position: relative;
    background-color: rgba(199, 233, 152, 0.5); /* Optional, if you want to blend the image with a color. */
}

body::before {
    content: "";
    background-image: url('gmu_logo2.png');
    opacity: 0.5; /* Adjust this between 0 (invisible) and 1 (fully visible) */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}


header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

header h1{
    color: #036208;
}
.logo-container {
    flex-grow: 1;
}

.logo-container img {
    height: 75px;
    width: auto;
    margin-right: 20px;
}


.container {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    flex-wrap: wrap; 
}

.box {
    border: 5px solid #093b02;
    padding: 40px;
    margin: 20px;
    text-align: center;
    background-color: #4d6a22;
    transition: transform 0.2s;
}

.box:hover {
    transform: scale(1.05);
}

.box img {
    width: 250px;
    height: 250px;
}

.box a{
    margin-top: 10px;
    font-weight: bold;
    color: #cab70a;
    text-decoration: none;
    
}


/* Menu Toggle Button */
button {
    background-color: transparent;
    border: none;
    color: #000000;
    font-size: 1.5rem;
    cursor: pointer;
}

nav {
    position: fixed;
    top: 0;
    right: -200px;  /* Start off the screen to the right */
    width: 200px;
    height: 100%;
    background-color: #674d18;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transition: right 0.3s;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #c38c1d;
}
#listitems a {
    color: #0c4815;
    font-weight: bold; 
    text-decoration: none;
    font-size:large;
}
#signout a{
    color: #480c0c;
    font-weight: bold; 
    text-decoration: none;
    font-size:large;
    
}

nav li a:hover {
    color: #173019;  /* Change this to your desired hover color */
    
}
nav li {
    padding: 10px 20px;
    border-bottom: 1px solid #000000;
}

nav li:last-child {
    border: none;
}

.menu-open {
    right: 0;
}

/* Initial styles for the image */
.zoom-effect {
    transition: transform 0.3s; /* Smooth transition */
    display: block;             /* Makes the image a block element to set margin */
    margin: 0 auto;             /* Centers the image if its container is larger */
    overflow: hidden;           /* Hide the overflow */
}

/* Zoom in on hover */
.zoom-effect:hover {
    transform: scale(1.1);      /* Scales the image 10% larger */
}
